PORT=5000
NODE_ENV=development
MONGO_URI_ATLAS=your_mongodb_atlas_uri
JWT_SECRET=your_jwt_secret
CLIENT_URL=http://localhost:5173
ADMIN_URL=http://localhost:5174
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
# Optional only if your Cloudinary account requires it
# CLOUDINARY_UPLOAD_PREFIX=https://api.cloudinary.com
